body{
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background: #1f1f1f;
  /* background: #1f1f1f; */

}

header{
  z-index: 1;
  position: fixed;
  background: #141414;
  padding: 20px;
  width: calc(100% - 0%);
  top: 0;
  height: 30px;
}

.left_area h3{
  color: #fff;
  text-transform: uppercase;
  font-size: 25px;
  margin-top: 4px;
  margin-bottom: 4px;
  font-weight: 900;
}

.left_area span{
  color: #32b1dc;
}

.logout_btn{
  padding: 8px;
  background: #32b1dc;
  text-decoration: none;
  float: right;
  margin-top: -35px;
  margin-right: 40px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  transition: 0.5s;
  transition-property: background;
}

.logout_btn:hover{
  background: #0B87A6;
}

.sidebar{
  z-index: 1;
  top: 0;
  background: #141414;
  margin-top: 70px;
  padding-top: 30px;
  position: fixed;
  left: 0;
  width: 250px;
  height: calc(100% - 9%);
  transition: 0.5s;
  transition-property: left;
  overflow-y: auto;
}

.profile_info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar .profile_info .profile_image{
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-bottom: 10px;
}

.sidebar .profile_info h4{
  color: #ccc;
  margin-top: 0;
  margin-bottom: 20px;
}

.sidebar a{
  color: #fff;
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
}

.sidebar a:hover{
  background: #32b1dc;
}

.sidebar i{
  padding-right: 10px;
}

/* .sidebar .item{
  width: 250px;
  overflow: hidden;
}

.sidebar .item .menu-btn{
  display: block;
  color: #fff;
  position: relative;
  padding: 25px 20px;
  transition: 0.3s;
  transition-property: color;
}

.sidebar .item .menu-btn:hover{
  color: #32b1dc;
}

.sidebar  .item .menu-btn i{
  margin-right: 20px;
}

.sidebar .item .menu-btn .drop-down{
  float: right;
  font-size: 12px;
  margin-top: 3px;
}

.sidebar .item .sub-menu{
    background: #32b1dc;
    overflow: hidden;
    max-height: 0;
    transition: 0.3s;
    transition-property: background, max-height;
}

.sidebar .item .sub-menu a{
  display: block;
  position: relative;
  color: #fff;
  white-space: nowrap;
  font-size: 15px;
  padding: 20px;
  border-bottom: 1px solid pink;
  transition: 0.3s;
  transition-property: background;
}

.sidebar .item .sub-menu a:hover{
  background: pink;
}

.sidebar .item .sub-menu i{
  padding-right: 20px;
  font-size: 10px;
}

.sidebar .item:target .sub-menu{
  max-height: 500px;
} */

label #sidebar_btn{
  z-index: 1;
  color: #fff;
  position: fixed;
  cursor: pointer;
  left: 275px;
  font-size: 25px;
  transition: 0.8s;
  margin-top: 4px;
  margin-bottom: 4px;
  transition-property: color;
}

label #sidebar_btn:hover{
  color: #32b1dc;
}

#check:checked ~ .sidebar{
  left: -185px;
}

#check:checked ~ .sidebar a span{
  display: none;
}

#check:checked ~ .sidebar a{
  font-size: 20px;
  margin-left: 165px;
  width: 100%;
}

.content{
  width: (100% - 250px);
  margin-top: 60px;
  padding: 20px;
  margin-left: 250px;
  background: url(background.png) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: 0.5s;
}

#check:checked ~ .content{
  margin-left: 60px;
}

#check:checked ~ .sidebar .profile_info{
  display: none;
}

#check{
  display: none;
}

.mobile_nav{
  display: none;
}

.card {
  background: #141414;
  /* color: white; */
  margin: 50px 20px;
  margin-top: 0px!important;
}
.card-header {
  /* margin-bottom: 0; */
  padding: 0.25rem 2.0rem;
}

.card-header h3{
  color: white;
  font-weight: 400;
  font-size: 20px;
}

.card-content {
  margin-bottom: 40px;
  /* margin-top: 40px; */
  padding: 0.25rem 2.0rem;
}

.margin {
  margin-top: 40px;
}


.card .card-title {
  font-size: 1.12rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
}

.title {
  color: white;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 50px;
}


.content-header-title h3{
  margin-left: 20px;
  color: white;
  font-size: 22px;
}

/* Style the list */
ul.breadcrumb {
  padding: 10px 0px;
  margin-left: 20px!important;
  list-style: none;
  background-color: #1f1f1f;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 15px;
  color: #6B6F82;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: #6B6F82;
  content: "-";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #32b1dc;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: pink;
  text-decoration: underline;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

.column1_btn {
  flex: 50%;
  margin-right: 10px;
}

.column2_btn {
  flex: 50%;
  float: left;
  margin-left: 10px;
}

.column1 {
  flex: 48%;
  margin-right: 4%;
}

.column2 {
  flex: 48%;
}

.add-btn{
  float: right;
  margin-right: 20px;
  margin-top: 30px;
}
.add-btn button{
  margin-left: 20px!important;
}
.add_button{
  font-weight: 600;
  font-size: 15px;
  background-color: #28d094;
  color: white;
  padding: 15px;
}

.add_button_link{
  color: white;
  text-decoration: none;
}

.back_button{
  width: 8.5rem;
  float: right;
  font-weight: 600;
  font-size: 15px;
  background-color: #FF9149;
  color: white;
  padding: 15px;
}

.back_button_link{
  color: white;
  text-decoration: none;
}

.submit_button{
  width: 8.5rem;
  font-weight: 600;
  font-size: 15px;
  background-color: #28d094;
  color: white;
  padding: 15px;
}

.foot_margin {
  margin-bottom: 100px;
}
/* Responsive CSS */

@media screen and (max-width: 780px){
  .sidebar{
    display: none;
  }

  #sidebar_btn{
    display: none;
  }

  .content{
    margin-left: 0;
    margin-top: 0;
    padding: 10px 20px;
    transition: 0s;
  }

  #check:checked ~ .content{
    margin-left: 0;
  }

  .mobile_nav{
    display: block;
    width: calc(100% - 0%);
  }

  .nav_bar{
    background: #141414;
    width: (100% - 0px);
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }

  .nav_bar .mobile_profile_image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .nav_bar .nav_btn{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
    transition-property: color;
  }

  .nav_bar .nav_btn:hover{
    color: #32b1dc;
  }

  .mobile_nav_items{
    background: #141414;
    display: none;
  }

  .mobile_nav_items a{
    color: #fff;
    display: block;
    text-align: center;
    letter-spacing: 1px;
    line-height: 60px;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
  }

  .mobile_nav_items a:hover{
    background: #32b1dc;
  }

  .mobile_nav_items i{
    padding-right: 10px;
  }

  .active{
    display: block;
  }
}


/* Float four columns side by side */
.columncard {
  float: left;
  width: 20%;
  padding: 20px 33px;
}

.card2 h3{
  text-align: left;
  font-weight: 200;
}

.card2 p{
  text-align: left;
  font-weight: 500;
  font-size: 25px;
}

.card2:hover{ position: relative; 
             top: -5px;}
/* Remove extra left and right margins, due to padding */
.rowcard {margin: 0 -5px;}

/* Clear floats after the columns */
.rowcard:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .columncard {
    width: 25%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}
