table{
  font-family: "Roboto", sans-serif;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  color: white;
}

th, td {
  text-align: left;
  padding: 8px;
  border: 2px solid #272727;
}

tr:nth-child(even){background-color: #141414}

thead {
  background-color: lightblue;

}


tr.title th{
  height: 50px;
  font-weight: 600!important;
}
tr.data ,th{
  font-weight: 100;
}

.table-data{
  color: white;
  text-align: center;
  text-decoration: none;
}
